   
   <footer class="footer" style="padding:10px; position: relative; bottom: 0; background: #222;width: 100%;">
      <div class="container text-center">
        <span class="text-muted">&copy; 2018 Hotel Guide | All Rights Reserved.</span>
      </div>
    </footer>

    <script type="text/javascript">

   
    </script>