
    <%- contentFor('booking') %>
    <div class="container">
    	<div class="row">
    		<div class="col-md-6 mx-auto">
    			<!-- <legend  class="text-center" style="font-size: 16px;">Welcome to <%= title %></legend>  method="post" action="/addcustomer" -->
    			<form role="form" class="form-horizontal">
    				<legend class="text-center">Book This Room</legend>
    				 <div class="row">
    				 	<div class="col-sm-6">
    				 	<div class="form-group">
			            <label for="input-text" class="control-label">Full Names</label>
			            <input type="text" class="form-control" id="input-name" name="fullname" placeholder="Eg. obia william" required>
			          </div>
    				 	</div>
    				 	<div class="col-sm-6">
    				 	<div class="form-group">
			            <label for="input-text" class="control-label">Email Address</label>
			            <input type="email" class="form-control" id="input-email" name="email"
			            placeholder="Eg. obia@example.com" required>
			          </div>
    				 	</div>
    				 	</div>
    				 	<div class="row">
    				 	<div class="col-sm-12">
    				 	<div class="form-group">
			            <label for="input-phone" class="control-label">Primary Phone Number</label>
			            <input type="text" class="form-control" id="input-phone" name="phonenumber" placeholder="Eg. +256757415220" required>
			          </div>
    				 	</div>
    				 </div>

    				 <div class="row">
    				 	<div class="col-sm-6">
    				 	<div class="form-group">
			            <label for="input-checkin" class="control-label">Check In:
                   <span><a class="btn btn-sm custom"><i class="fa fa-calendar"></i></a></span></label>
			            <input type="text" class="form-control datepicker-here"
			            data-language='en'  id="checkin" name="checkin_date" data-multiple-dates-separator=", " data-position='bottom left'
			            placeholder="mm/dd/yyyy" required>

			          </div>
    				 	</div>

    				 	<div class="col-sm-6">
    				 	<div class="form-group">
			            <label for="input-checkin" class="control-label">CheckOut:
                    <span><a class="btn btn-sm custom"><i class="fa fa-calendar"></i></a></span></label>
			           <input type="text" class="form-control datepicker-here"
			            data-language='en'  id="checkout" name="checkout_date"
       					data-multiple-dates-separator=", "
       					data-position='bottom left'
			            placeholder="mm/dd/yyyy" required>

			          </div>
    				 	</div>
    				 </div>

          <div class="row">
          <div class="col-sm-6">
          <div class="form-group">
          <label for="input-text" class="control-label">Room Type(s)</label>
            <select class="form-control" id="rooms">
            <option>Deluxe Diplomatic Suite</option>
            <option>Executive Room</option>
            <option>Diplomatic Suite</option>
            <option>Club Room</option>
            </select>

          </div>
          </div>

          </div>

    				 	<div class="row">
    				 	<div class="col-sm-12">
						  <div class="form-group">
              <label class="control-label">Payment Method</label>
                  <br>
                    <label class="custom-control custom-radio">
                    <input id="cash" name="pay" type="radio"
                    class="custom-control-input" checked>
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">Cash on arrival</span>
                    </label>
                    <label class="custom-control custom-radio">
                    <input id="other" name="pay" type="radio" class="custom-control-input">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">Other </span>
					</label>
						</div>
						</div>
            </div>
              <div class="row">
                <!-- <div class="col-md-8">
                  <div class="alert alert-success alert-dismissible fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                Hey <strong>Obia william</strong><br>
                 we have recieved your booking, w'll review and revert accordingly
              </div>
                </div> -->
              <div class="col-md-4 pull-right">
                <div class="form-group pull-right">
                <button class="btn btn-next btn-fill btn-warning btn-wd btn-sm"
                name="book" type="submit"><i class="fa fa-check"></i>Confirm  Booking</button>
                </div>
            </div>
            </div>
    			</form>
    		</div>
    	</div>
    </div>
