<!DOCTYPE html>
<html lang="en">
  <head>
  	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Hotel Guide Bot | Booking Form</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-theme.min.css">
     <link rel="stylesheet" type="text/css" href="/font-awesome/css/font-awesome.min.css">
      <link rel="stylesheet" type="text/css" href="/build/css/intlTelInput.css">
      <link href="https://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
     <link rel="stylesheet" type="text/css" href="/css/sweetalert2.css">
     <link rel="stylesheet" type="text/css" href="/css/magic-check.min.css">
     <link href="/css/datepicker.min.css" rel="stylesheet" type="text/css">
    <link rel='stylesheet' href='/css/style.css' />
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
     <!-- <link href="/dataTables.bootstrap4.css" rel="stylesheet"> -->
     
  </head>

    <script type="text/javascript">
            window.extAsyncInit = function () {
            // the Messenger Extensions JS SDK is done loading
            var isSupported = MessengerExtensions.isInExtension(); 
            alert(isSupported);
            MessengerExtensions.getUserID(function success(uids) {
                var psid = uids.psid;//This is your page scoped sender_id
                alert("This is the user's psid " + psid);
            }, function error(err) {
              alert("Messenger Extension Error: " + err);
            });
        };
    MessengerExtensions.requestCloseBrowser(function success() {
    window.location('https://www.messenger.com/closeWindow/?&display_text=Thank you');
    }, function error(err) {
         alert("Messenger Error: " + err);
    });

       (function(d, s, id){
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {return;}
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.com/en_US/messenger.Extensions.js";
      fjs.parentNode.insertBefore(js, fjs);
       messenger_extensions: true
         }(document, 'script', 'Messenger'));

    
    </script>


  <body>
    

    <script type="text/javascript">

        // Set up the url for our iframe, and get the current domain
    // var url    = 'https://www.messenger.com/';
    // var domain = window.location.protocol + '//' + window.location.host;

// Create the iframe

    // var iframe = document.createElement('iframe');
    // document.body.appendChild(iframe);
// Set the src, and pass along the domain as a query param

    // iframe.src = url + '?domain=' + domain;

    </script>

    <%- defineContent('booking') %>

<script type="text/javascript" src="/js/jquery-3.2.1.slim.min.js"></script>
 <!--<script type="text/javascript" src=" https://code.jquery.com/jquery-3.1.1.min.js"></script>-->
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src="/build/js/prism.js"></script>
<script src="/build/js/intlTelInput.js"></script>
<script src="/build/js/utils.js"></script>
 <script src="/assets/js/vendor/popper.min.js"></script>
<script src="/dist/js/bootstrap.min.js"></script>
<script src="/assets/js/vendor/holder.min.js"></script>

<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/popper.min.js"></script>
<script src="/js/datepicker.min.js"></script>

    <script src="/jquery.dataTables.js"></script>
    <script src="/dataTables.bootstrap4.js"></script>
    <!-- Custom scripts for this page-->
    <script src="/datatables.js"></script>

<!-- Include English language -->
<script src="/js/i18n/datepicker.en.js"></script>
<script type="text/javascript" src="/js/sweetalert2.all.js"></script>
<script type="text/javascript" src="/js/hotel_rooms.js"></script>
<script>
      Holder.addTheme('thumb', {
        bg: '#55595c',
        fg: '#eceeef',
        text: 'Thumbnail'
      });
    </script>
<script type="text/javascript">

$(document).ready(function () {
    // Initialization
  $("#input-phone").intlTelInput({
    nationalMode: false
  });
  $('#checkin').datepicker({});
  $('#checkout').datepicker({});
  // get_others();

  
    });
    
//     function get_others(){
//     $.ajax({
//         url: "/admin/get_others",
//         type: 'GET',
//         // dataType: 'json',
//         success:function(response){
//             // console.log(response);
//             var roooms = [];
//                     response.data.forEach(function(items){
//                     roooms.push('<tr><td>'+items.source+'</td><td>'+items.room_type+'</td></tr>');
//                     });
                    
//                     $('#sources').html(roooms);

//                     }
//         });
// }

  $('#submit_book').on('click',function(e){
          e.preventDefault();
          
           var bookings_sources ={
             source: $('#source').val(),
            room_typ : $('#room_ty :selected').text(),
           }  ;

           // source = $('#source').val();
           // var  room_typ = $('#room_ty :selected').text();
         
          // var bookings_sources = {};
          //   bookings_sources.source = source;
          //   bookings_sources.room_typ = room_typ;

          $.ajax({
                url: './other_booking',
                type: 'POST',
                // dataType: "application/json",
                contentType: "application/json",
                // data: JSON.stringify(form_data),
                data: JSON.stringify(bookings_sources),
                success:function(response){
                    // console.log(response.message);
                    var roooms = [];
                    response.data.forEach(function(items){
                        // console.log(items);
                        // console.log(items.source,items.room_type);
                        // roooms.push({"source": items.source, "type": items.room_type});
                        roooms.push('<tr><td>'+items.source+'</td><td>'+items.room_type+'</td></tr>');
                        // items.forEach(function(result){
                        // console.log(result.room_type, result.source);
                        // });
                    });
                    // roooms.push('<tr><td>'+items.source+'</td><td>'+items.room_type+'</td></tr>');

                    $('#sources').html(roooms);
                    alert("Sucessfully Added a Reservatin ");
                },
                error:function(err){
                    alert("Oops" + err.message);
                },
          });

          // alert(source + room_typ);
        // });

});

$('.btn-next').on('click',function(event){
    event.preventDefault();
    event.stopPropagation();
    anyBlankFields();
});

function isNumber(evt) {
        evt = (evt) ? evt : window.event;
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if ( (charCode > 31 && charCode < 48) || charCode > 57) {
            return false;
        }
        return true;
    }

function anyBlankFields() {
    var email_regex = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/i;
    var fname = $('#input-name').val();
    var email = $('#input-email').val();
    var paymethod = $('#cash').val();
    var datein = $('#checkin').val();
    var dateout = $('#checkout').val();
    var mobile = $('#input-phone').val();
    var rooms = $('#rooms').val();

    if(fname === "") {
        $("#fname_err").show();
        return;
    }
    else if(fname !== ""){
        $("#fname_err").hide();
    }

    if(email === "") {
        $("#email_err").show();
        return;
    }
    else if(email !== ""){
        $("#email_err").hide();
        if (!email_regex.test(email)) {
            document.getElementById('email_err').innerHTML = "Email must contain an '@' character and a . before server name";
            $("#email_err").show();
            return;
        } else {
            $("#email_err").hide();
        }
    }

    if(mobile === "") {
        $("#mobile_err").show();
        return;
    }
    else if(mobile !== "") {
        $("#mobile_err").hide();
        var extension = $("#input-phone");
        if ($.trim(mobile)) {

            if (!extension.intlTelInput("isValidNumber")) {
                document.getElementById('mobile_err').innerHTML = "Invalid number, numbers only please";
                $("#mobile_err").show();
                return;
            } else {
                $("#mobile_err").hide();
                mobile = extension.intlTelInput("getNumber");
            }
        }
    }

    if(datein === "") {
        $("#datein_err").show();
        return;
    } else if(datein !== "") $("#datein_err").hide();

    if(dateout === "") {
        $("#dateout_err").show();
        return;
    } else if(dateout !== "") $("#dateout_err").hide();

    submitBooking();
}

function submitBooking() {
    var room_price = $("#room_price").val();
    room_price = room_price.substring(1, room_price.length);

    var fname = $('#input-name').val();
    var email = $('#input-email').val();
    var paymethod = $('#cash').val();
    var datein = $('#checkin').val();
    var dateout = $('#checkout').val();
    var mobile = $('#input-phone').intlTelInput("getNumber");
    var rooms = $("#rooms :selected").text();
    var current_date = new Date().toLocaleDateString();
    var date_in_tm =  new Date(date_in).getTime();
    var date_out_tm = new Date(date_out).getTime();
    var cur_dt_tm =   new Date(current_date).getTime();

    var date_in = new Date(datein).toLocaleDateString();
    var date_out = new Date(dateout).toLocaleDateString();

    var timeDiff = Math.abs(new Date(dateout).getTime() - new Date(datein).getTime());
    var duration = Math.ceil(timeDiff / (1000 * 3600 * 24));
    var amount = room_price * duration;
    amount = '$' + amount;

    if ($('#other').is(':checked')) {
        paymethod = $('#other').val();
        if (date_in_tm < cur_dt_tm) {
            swal("Incorrect Date", "Checkin date can't be earlier than today's date?", "error");
        }
        else if (date_in_tm === date_out_tm) {
            swal("Incorrect Date", "Checkin date can't be the same as Checkout date", "error");
        }
        else if (date_in_tm > date_out_tm) {
            swal("Incorrect Dates", "Checkin date can't be later / greater than Checkout date", "error");
        }
        else {
            swal({
                title: 'Hello  ' + fname + ' here is your booking summary',
                html: '<div class="sumarry">'+
                '<span class ="title">Room Type:</span> <p>' + rooms + '</p><br> ' +
                '<span class ="title">Check In:</span> <p>' + datein + '</p><br>' +
                '<span class ="title">Check Out:</span> <p>' + dateout + '</p><br>' +
                '<span class ="title">Payment Method:</span> <p>' + paymethod + '</p><br>' +
                '<br>' +
                '<span class ="title">Total Amount:</span> <p class="price">' + amount + '</p><br>'+
                '</br></br>'+'</div>',
                type: 'info',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Confirm Booking',
                cancelButtonText: 'Cancel Booking',
                confirmButtonClass: 'btn btn-success',
                cancelButtonClass: 'btn btn-danger',
                buttonsStyling: false,
                preConfirm: function () {

                    return new Promise(function (resolve, reject) {
                        var form_data = {};
                        form_data.fullname = fname;
                        form_data.email = email;
                        form_data.pay = paymethod;
                        form_data.checkin_date = date_in;
                        form_data.checkout_date = date_out;
                        form_data.phonenumber = mobile;
                        form_data.current_date = current_date;
                        form_data.rooms = rooms;
                        form_data.amount = amount;
                        form_data.status = 'paid';
                        $.ajax({
                            url: "/addcustomer",
                            type: "POST",
                            contentType: "application/json",
                            data: JSON.stringify(form_data),
                            success: function (response) {
                                if (response.err) {
                                    sa_title = 'Sorry'
                                    sa_msg = response.message
                                    sa_type = 'warning'
                                }
                                else {
                                    sa_title = 'Success!';
                                    sa_msg = 'Your Booking request is well received';
                                    sa_type = 'success';
                                }
                                resolve()
                            },
                            error: function (error) {
                                sa_title = 'Oops!';
                                sa_msg = error.message;
                                sa_type = 'error';
                                reject("error message")
                            }
                        })
                    })
                },
                allowOutsideClick: false
            }).then(function (result) {
                if (result.value) {
                    if (sa_type === 'warning') {
                        swal({
                            title: sa_title,
                            html: sa_msg,
                            type: sa_type
                        });
                    } else {
                        $('form#book').trigger('reset');
                        swal({
                            title: sa_title,
                            html: sa_msg,
                            type: sa_type
                        });
                        alert('re-route to payment page ...');
                    }

                } else return;
            });
        }

    }
    else if ($('#cash').is(':checked')) {
        if (date_in_tm < cur_dt_tm) {
            swal("Incorrect Date", "Checkin date can't be earlier than today's date?", "error");
        }
        else if (date_in_tm === date_out_tm) {
            swal("Incorrect Date", "Checkin date can't be the same as Checkout date", "error");
        }
        else if (date_in_tm > date_out_tm) {
            swal("Incorrect Dates", "Checkin date can't be later / greater than Checkout date", "error");
        }
        else {
            swal({
                title: '<b>Hola!' + fname + ' here is your booking summary</b>',

                html: '<div class="sumarry">'+
                '<span class ="title">Room Type:</span> <p>' + rooms + '</p><br> ' +
                '<span class ="title">Check In:</span> <p>' + datein + '</p><br>' +
                '<span class ="title">Check Out:</span> <p>' + dateout + '</p><br>' +
                '<span class ="title">Payment Method:</span> <p>' + paymethod + '</p><br>' +
                '<br>' +
                '<span class ="title">Total Amount:</span> <p class="price">' + amount + '</p><br>'+
                '</br></br>'+
                '<span class="in">Note that Your Room will be taken if you don\'t pay now</span>'+ '</div>',
                
                type: 'info',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Ok',
                cancelButtonText: 'Pay Now',
                confirmButtonClass: 'btn btn-success',
                cancelButtonClass: 'btn btn-danger',
                buttonsStyling: false,
                preConfirm: function () {

                    return new Promise(function (resolve, reject) {
                        var form_data = {};
                        form_data.fullname = fname;
                        form_data.email = email;
                        form_data.pay = paymethod;
                        form_data.checkin_date = date_in;
                        form_data.checkout_date = date_out;
                        form_data.phonenumber = mobile;
                        form_data.current_date = current_date;
                        form_data.rooms = rooms;
                        form_data.amount = amount;
                        form_data.status = 'pending';

                        $.ajax({
                            url: "/addcustomer",
                            type: "POST",
                            contentType: "application/json",
                            data: JSON.stringify(form_data),
                            success: function (response) {
                                if (response.err) {
                                    sa_title = 'Sorry'
                                    sa_msg = response.message
                                    sa_type = 'warning'
                                }
                                else {
                                    sa_title = 'Success!';
                                    sa_msg = 'Your Booking request is well received';
                                    sa_type = 'success';
                                }
                                resolve()
                            },
                            error: function (error) {
                                sa_title = 'Oops!';
                                sa_msg = error.message;
                                sa_type = 'error';
                                reject("error message")
                            }
                        })
                    })
                },
                allowOutsideClick: false
            }).then(function (result) {
                if (result.value) {
                    if (sa_type === 'warning') {
                        swal({
                            title: sa_title,
                            html: sa_msg,
                            type: sa_type
                        });
                    } else {
                        $('form#book').trigger('reset');
                        swal({
                            title: sa_title,
                            html: sa_msg,
                            type: sa_type
                        });
                    }
                } else {
                    alert('Re-route to Payment Page ...');
//                    return;
                }
            });
        }
    }
    else {
        swal('Oops', 'Please choose a payment method', 'error');
        return;
    }
}

</script>
      
  </body>
</html>
