<!DOCTYPE html>
<html lang="en">
  <head>
  	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1" />
    <title><%= title %> | Booking Agent</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-theme.min.css">
     <link rel="stylesheet" type="text/css" href="/font-awesome/css/font-awesome.min.css">
     <link rel="stylesheet" type="text/css" href="/css/sweetalert2.css">
     <link rel="stylesheet" type="text/css" href="/css/magic-check.min.css">
     <link href="/css/datepicker.min.css" rel="stylesheet" type="text/css">
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>

    <%- defineContent('booking') %>




<script type="text/javascript" src="/js/jquery-3.2.1.slim.min.js"></script>
<!-- <script type="text/javascript" src=" https://code.jquery.com/jquery-3.1.1.min.js"></script> -->
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/popper.min.js"></script>
<script src="/js/datepicker.min.js"></script>
<!-- Include English language -->
<script src="/js/i18n/datepicker.en.js"></script>
<script type="text/javascript" src="/js/sweetalert2.all.js"></script>
<script type="text/javascript">
      $(document).ready(function () {
        // Initialization
      $('#checkin').datepicker({});
      $('#checkout').datepicker({});
    });

    $('.btn-next').click(function(e){
      e.preventDefault();
      submitBooking();
    });


function submitBooking() {

var fname = $('#input-name').val();
var email = $('#input-email').val();
var paymethod = $("#cash").val();
var datein = $('#checkin').val();
var dateout = $('#checkout').val();
var mobile = $('#input-phone').val();
var rooms = $('#rooms').val();


if($('#other').is(':checked')){
//  e.preventDefault();
  swal("Alert","Other payment methods like credit card, mobile money etc coming soon, please choose cash for now","info");
}
else if($('#cash').is(':checked')) {
//  e.default;
    var current_date = new Date().toLocaleDateString();
    date_in = new Date(datein).toLocaleDateString();
    date_out = new Date(dateout).toLocaleDateString()
    // console.log(new Date(datein).toLocaleDateString(), current_date)

    if (date_in < current_date) {
        swal("Incorrect Date", "Checkin date can't be earlier than today's date?", "error");
    }
    else if (date_in === date_out) {
        swal("Incorrect Date", "Checkin date can't be the same as Checkout date", "error");
    }
    else if (date_in > date_out) {
        swal("Incorrect Dates", "Checkin date can't be later / greater than Checkout date", "error");
    }
    else {
        var timeDiff = Math.abs(new Date(dateout).getTime() - new Date(datein).getTime());
        var duration = Math.ceil(timeDiff / (1000 * 3600 * 24));
        var amount = 300 * duration;
        amount = '$'+amount;
        // console.log(new Date(dateout).getDate() );


            swal({
                    title: 'Hello  ' + fname +' your booking summary',
                    html: '<b>Room Type:</b> &nbsp;&nbsp;' + rooms + '<br> ' +
                    '<b>Check In:</b> &nbsp; &nbsp;' + datein + '<br>' +
                    '<b>Check Out:</b> &nbsp; &nbsp;' + dateout + '<br>' +
                    '<b>Payment Method:</b> &nbsp; &nbsp;'+ paymethod+'<br>' +
                    '<br>' +
                    '<p><b>Total Amount:</b> <span class="badge badge-success">' + amount + '</span><br></p>',
                  type: 'info',
                  showCancelButton: true,
                  confirmButtonColor: '#3085d6',
                  cancelButtonColor: '#d33',
                  confirmButtonText: 'Confirm Booking',
                  cancelButtonText: 'Cancel Booking',
                  confirmButtonClass: 'btn btn-success',
                  cancelButtonClass: 'btn btn-danger',
                  buttonsStyling: false
            }).then(function (result) {
              var form_data = {};
                    form_data.fullname = fname;
                    form_data.email = email;
                    form_data.pay = paymethod;
                    form_data.checkin_date = date_in;
                    form_data.checkout_date = date_out;
                    form_data.phonenumber = mobile;
                    form_data.current_date = current_date;
                    form_data.rooms = rooms;
                    form_data.amount = amount;
                  if (result.value) {
                        $.ajax({
                        url: "/addcustomer",
                        type: "POST",
                        contentType: "application/json",
                        data: JSON.stringify(form_data),
                        success: function(response) {
                               swal('Congratulations', 'Your Booking order is well received', 'success');
                              $('form#book').trigger('reset');
                        },
                        error: function(a, b, c){
                              swal('Oops', 'Something went wrong, please try again or contact us!', 'error');
                            return;
                        }
                           });

                    }else{
                      swal('Oops', 'You cancelled your booking!', 'error');
                            return;
                    }

                  });

  }
}
else{
   swal('Oops', 'Please choose a payment method', 'error');
                            return;
}

}

    </script>
      
  </body>
</html>
