<!DOCTYPE html>
<html lang="en">
  <head>
  	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1" />
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-theme.min.css">
     <link rel="stylesheet" type="text/css" href="/font-awesome/css/font-awesome.min.css">
     <link rel="stylesheet" type="text/css" href="/css/sweetalert2.css">
     <link rel="stylesheet" type="text/css" href="/css/magic-check.min.css">
     <link href="/css/datepicker.min.css" rel="stylesheet" type="text/css">
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>

    <%- defineContent('booking') %>







<script type="text/javascript" src="/js/jquery-3.2.1.slim.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/popper.min.js"></script>
<script src="/js/datepicker.min.js"></script>
<!-- Include English language -->
<script src="/js/i18n/datepicker.en.js"></script>
<script type="text/javascript" src="/js/sweetalert2.all.js"></script>
<script type="text/javascript">
      $(document).ready(function () {
        // Initialization
      $('#checkin').datepicker({});
      $('#checkout').datepicker({});
    });


$('.btn-next').click(function(e){

var fname = $('#input-name').val();
var email = $('#input-email').val();
var paymethod = $("input[name='pay']").val();
var datein = $('#checkin').val();
var dateout = $('#checkout').val();
var mobile = $('#input-phone').val();
var rooms = $('#rooms').val();


if($('#credit_card').is(':checked')){
  e.preventDefault();
  swal("Alert","Credit Card, Coming Soon ..", "info");
}

else if($('#airtel_money').is(':checked'))
{
  e.preventDefault();
  swal("Alert","Airtel Money, Coming Soon ..", "info");
}
else if($('#mtn_momo').is(':checked'))
{
  e.preventDefault();
  swal("Alert","MTN Mobile Money, Coming Soon ..", "info");
}else if($('#other').is(':checked')){
  e.preventDefault();
  swal("Alert","Other payment methods like credit card, mobile money etc coming soon, please choose cash for now","info");
}
else if($('#cash').is(':checked')) {
//  e.default;
    e.preventDefault();
    var current_date = new Date().toLocaleDateString();
    if (datein < current_date) {
        swal("Incorrect Date", "Checkin date can't be earlier than today's date?", "error");
    }
    else if (datein === dateout) {
        swal("Incorrect Date", "Checkin date can't be the same as Checkout date", "error");
    }
    else if (datein > dateout) {
        swal("Incorrect Dates", "Checkin date can't be later / greater than Checkout date", "error");
    }
    else {
//        var duration = dateout - datein;
        var timeDiff = Math.abs(new Date(dateout).getTime() - new Date(datein).getTime());
        var duration = Math.ceil(timeDiff / (1000 * 3600 * 24));
        var amount = 300 * duration;
//        swal("Period Your Staying", duration+" days", "info");

        swal({
            title: 'Hello  ' + fname +' your booking summary',
            html: '<b>Room Type:</b> &nbsp;&nbsp;' + rooms + '<br> ' +
            '<b>Check In:</b> &nbsp; &nbsp;' + datein + '<br>' +
            '<b>Check Out:</b> &nbsp; &nbsp;' + dateout + '<br>' +
            '<b>Payment Method:</b> &nbsp; &nbsp;Cash on arrival<br>' +
            '<br>' +
            '<p><b>Total Amount:</b> <span class="badge badge-success">$' + amount + '</span><br></p>'
            ,
            type: 'info',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Confirm Booking'
        }).then((result)=>{
            console.log(result.value);
            if(result.value){
                $('#input-name').val('');
                $('#input-email').val('');
                $('#checkin').val('');
                $('#checkout').val('');
                $('#input-phone').val('');

                swal('Congratulations', 'Your Booking order is well received', 'success');
//                $.ajax({
//                    type: "POST",
//                    data: {email: email, pay: paymethod, checkin_date: datein, checkout_date: dateout, phonenumber: mobile, current_date: current_date},
//                    url: "/addcustomer"
//                })
//                .done(function (data) {
//                    swal('Congratulations', 'Your Booking order is well received', 'success');
//                })
//                .error(function (data) {
//                    swal('Ooops', 'Request unsuccessful, pliz try again', 'error');
//                })
            } else {
//                swal('Ooops', 'Request unsuccessful, pliz try again', 'error');
                return;
            }
        });
    }
  }
// if(datein != ""){
//  e.preventDefault();
//  swal("Sorry",paymethod, "error");
//  // alert(paymethod);
// }

});


    </script>
  </body>
</html>
