  <%-contentFor('booking') %>

  <div class="container">
  	<div class="row login">
  		<div class="col-sm-6 mx-auto">
  			<div class="form-box" style="top: 143.5px;">
			<div class="form-head">
				<div class="mold-logo">
					<div class="logo-txt">HotelGuideBot</div>
				</div>
			</div>
			<div class="form-body">
				<form>
					<div class="form-group">
						<label>Email Address</label>
						<div class="input-group">
							<div class="input-group-addon fa fa-envelope"></div>
							<input class="form-control" placeholder="Email Address" type="email">
						</div>
					</div>
					<div class="form-group">
						<label>Password</label>
						<div class="input-group">
							<div class="input-group-addon fa fa-lock"></div>
							<input class="form-control" placeholder="Password" type="password">
						</div>
					</div>
					<button type="submit" class="btn btn-primary hvr-sweep-to-right">Log In</button>
				</form>
			</div>
		</div>
  		</div>
  	</div>
  </div>