
     <%- contentFor('booking') %>
     <% include header.ejs %>    
    <div class="container-fluid" style="background: #fff; height: 100%;">
        <br><br>
        <div class="row">
          <div class="col-sm-8">
            <p class="txt-bold">Reservations from other sources (Logs)</p>
            <table class="table table-bordered table-">
                    <thead>
                      
                    <tr>
                    <th>Room Type</th>
                    <th>From(eg. Jumia)</th>
                    <!-- <th>Available Rooms</th> -->
                    </tr>
                    </thead>
                    <tbody id="sources">
                         
                          
                      
                        
                    </tbody>

                </table>

          </div>
          <div class="col-sm-4" style="border-left:1px solid #eee;background: #fafafa;">
              <form action="./other_booking" method="post" id="reserver">
                 <h6>Source of the Booking</h6>
                <br>
                <div class="jumbotron  white-bg p-4">
                <p class="p-0 m-0">Select Source</p>
                <select id="source" class="form-control mb-2" name="source">
                <option value="Jumia Bookings">Jumia Bookings</option>
                <option value="Bookings.com">Bookings.com</option>
                <option value="Others">Others</option>
                </select>
                </div>
                <div class="jumbotron  white-bg p-4">
                <p class="p-0 m-0">Select Room Type</p>
                <select class="form-control mb-2" name="room_ty" id="room_ty">
                <% if((roomz.length) > 0){%>
                  <% roomz.forEach(function(r){%>
                    <option value="<%=r.room_t%>"><%=r.room_t%></option>
                  <%});%>
                <%} else{%>
                    <p>No rooms found!</p>
                <%}%>
                </select>
                 <button class="btn btn-sm btn-primary" name="submit_book" id="submit_book" type="submit">
                  <i class="fa fa-plus"></i> Create Reservation</button>
              
              </div>
              </form>
          </div>
        </div>

    </div>
  
    <br> <br> <br> <br> <br> <br> <br> <br>
     <% include footer.ejs %> 
  