
     <%- contentFor('booking') %>
     <% include header.ejs %>    
    <div class="container-fluid" style="background: #fff; height: 100%;">
        <br><br>
        <div class="row">
          <div class="col-sm-8">
            <p class="txt-bold">Reservations from other sources (Logs)</p>
            <table class="table table-bordered table-">
                    <thead>
                      
                    <tr>
                    <th>Room Type</th>
                    <th>From(eg. Jumia)</th>
                    <th>Available Rooms</th>
                    <!-- <th>Check In</th>
                    <th>Check Out</th> -->
                    <!-- <th>Room Type</th>
                    <th>Payment Method</th>
                    <th>Amount ($)</th>
                    <th >Status</th> -->
                    </tr>
                       
                    </thead>
                    <tbody>
                          <% for(var i=1; i<=10; i++ ){%>
                          <tr>
                            <td>Delux Double</td>
                            <td>Jumia Bookings</td>
                            <td>10</td>
                        </tr>
                        <%}%>
                        
                    </tbody>

                </table>

          </div>
          <div class="col-sm-4" style="border-left:1px solid #eee;background: #fafafa;">
               <h6>Source of the Booking</h6>
                        <br>
                <div class="jumbotron  white-bg p-4">
               
                <p class="p-0 m-0">Select Source</p>
                <select id="source" class="form-control mb-2">
                <option value="Jumia Bookings">Jumia Bookings</option>
                <option value="Bookings.com">Bookings.com</option>
                <option value="Others">Others</option>
                </select>
                </div>
                        <div class="jumbotron  white-bg p-4">
                <p class="p-0 m-0">Select Room Type</p>
                <select class="form-control mb-2" id="delete-tours">
                <option value="49">Delux Single</option>
                <option value="48">Double</option>
                <option value="46">Executive Room </option>
                <option value="47">Honeymoon Suite</option>
                </select>
                 <button class="btn btn-sm btn-primary" onclick="reserve(this)">
                  <i class="fa fa-plus"></i> Create Reservation</button>
              
              </div>
          </div>
        </div>

    </div>
  
    <br> <br> <br> <br> <br> <br> <br> <br>
     <% include footer.ejs %> 
   