.container {
  max-width: 960px;
}

/*
 * Custom translucent site header
 */

.site-header {
  background-color: rgba(255, 255, 255, 1);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
  color: #999;
  transition: ease-in-out color .15s;
}
.site-header a:hover {
  color: #fff;
  text-decoration: none;
}

/*
 * Dummy devices (replace them with your own or something else entirely!)
 */

.product-device {
  position: absolute;
  right: 10%;
  bottom: -30%;
  width: 300px;
  height: 540px;
  background-color: #333;
  border-radius: 21px;
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
}

.product-device::before {
  position: absolute;
  top: 10%;
  right: 10px;
  bottom: 10%;
  left: 10px;
  content: "";
  background-color: rgba(255, 255, 255, .1);
  border-radius: 5px;
}

.product-device-2 {
  top: -25%;
  right: auto;
  bottom: 0;
  left: 5%;
  background-color: #e5e5e5;
}


/*
 * Extra utilities
 */

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.flex-equal > * {
  -ms-flex: 1;
  -webkit-box-flex: 1;
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    -webkit-box-flex: 1;
    flex: 1;
  }
}

.overflow-hidden { overflow: hidden; }


/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px; /* Margin bottom by footer height */
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 65px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

/*.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}*/
.jumbotron {
    padding: 2rem 1rem;
    margin-top: -1rem !important;
    margin-bottom: 2rem;
    color: #fff !important;
    background-color: #795548 !important;
    border-radius: 0rem !important;
}

.login .form-box {
    /*max-width: 450px;*/
    position: relative;
    margin: 0 auto;
    padding: 20px;
    top: 25%;
}

.mold-logo .logo-txt {
    height: 50px;
    line-height: 50px;
    padding-top: 6px;
    font-size: 46px;
    text-align: center;
    color: #fff;
    font-weight: 900;
    font-family: 'Satisfy', cursive;
}

.login .form-box .form-head {
    padding: 20px 15px;
    border-bottom: 2px solid #477427;
    background: #111111;
    color: #fff;
    text-align: center;
}
.login .form-box .form-body {
    padding: 20px 50px;
    background: #fff;
}

.input-group .input-group-addon {
    font-size: 20px;
    border-radius: 0px;
    color: #558B2F;
    padding: 10px 12px;
}

.btn-primary.hvr-sweep-to-right {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.btn-primary {
    background: #558B2F;
}
.btn {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    letter-spacing: 0.05em;
    padding: 7px 15px;
    margin-bottom: 10px;
    text-transform: uppercase;
    border: 0;
    color: #fff;
}
.btn-primary {
    color: #fff;
    background-color: #558B2F;
    border-color: #497829;
}
